System.put_env("DB_HOSTNAME",       "localhost")
System.put_env("DB_PORT",           "3306")
System.put_env("DB_USER",           "")
System.put_env("DB_PASSWORD",       "")
System.put_env("DB_NAME",           "")


System.put_env("API_PORT",          "4000")
System.put_env("API_HOSTNAME",      "localhost")

System.put_env("AES_ENCRYPTION_KEY","64-character-long-encryption-key-64-character-long-encryption-key")