# API
DATABASE_URL=ecto://{database username}:{database password}@{docker ip: 172.17.0.1 or use cmd ('sudo docker run --rm alpine sh -c "ip route | awk '/default/ { print \$3 }'"') to find out}:3306/{database name}
SECRET_KEY_BASE= (mix phx.gen.secret)